table {
    border-collapse: collapse;
    width: 100%;
}
.table tr:hover {
   background-color:whitesmoke !important;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.table td{
  font-size: 13px !important;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
/* a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #50px 649c;
} */