.alignFieldLeft {
  margin-left: -15px !important;
  width: 300px;
}
.alignFieldRight {
  margin-left: 76px !important;
  width: 300px;
}
.riskAlign {
  margin-left: -43px !important;
  width: 350px !important;
}
.riskAlign1 {
  margin-left: -43px !important;
  width: 230px !important;
}
.Liable {
  margin-left: 23px !important;
  width: 230px !important;
}
.busActivity {
  margin-left: 15px !important;
  width: 230px !important;
}
.riskRightAlign {
  margin-left: 29px !important;
  width: 350px !important;
}
.riskLocation {
  margin-left: -43px !important;
  width: 729px !important;
}
.AlignLiability {
  margin-left: 100px !important;
}
.valueAlign {
  margin-left: -43px !important;
  width: 150px !important;
}
.valueAlignSecond {
  margin-left: 29px !important;
  width: 150px !important;
}
.valueAlignRight {
  margin-left: 5px !important;
  width: 195px !important;
}
.contractCover {
  margin-left: -47px !important;
}
.scopeAlign {
  width: 730px !important;
  margin-left: -43px !important;
}
